.completed {
  background-color: #c8e6c9;
}

.dropdown {
  margin-bottom: 1vw;
  border-radius: 5px;
}

.dropdownHeader {
  cursor: pointer;
  padding: 1.5vw;
  background-color: #E6E4E4;
  color: #4A5768;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.dropdownContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.completed .dropdownHeader {
  background-color: inherit; 
}
