.actions {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1em;
}

.actions > span {
  padding: 0 12px;
}

.actions > div {
  display: flex;
  gap: 0.5em;
}
