.intro {
  display: flex;
  width: 95%;
}
.container {
  width: 100%;
  min-height: 20vh;
  display: block;
  position: relative;
}

.container, .screenContainer, .screen {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.screenContainer {
  display: flex;
  width: 90%;
  height: 90vh; 
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
}

.screen {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.2vw;
  line-height: 1.6;
  font-weight:400;
}

h2 {
  padding:1vw;
}