.trainingSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    border: 1px solid #A0ADBA;
    border-radius: 1vw;
    background-color: white;
    position: absolute; 
    top: -20px; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  .customSwitch {
    transform: scale(1.3); 
  }