.container {
  display: flex !important;
  flex-direction: column;
  gap: 1em;
  position: relative;
  flex: 1;

  padding: 1em;
}

.container > span {
  font-weight: bold;
  font-size: 1.5em;
}

.container > fieldset input {
  margin-bottom: 1em;
}

.closeButton {
  position: absolute !important;
  top: 1em;
  right: 1em;

  border: none !important;
  background: none !important;
}

.warningButton {
  background: linear-gradient(#e56408 0%, #bb460d 100%) #e56408 !important;
  border: 1px solid #bb460d !important;
  color: white !important;
  margin-top: 1em;
}

.quantityInput {
  position: relative;

  display: flex;
  align-items: center;
}

.quantityInput > span {
  position: absolute;
  bottom: 1em;
  left: 1em;
  line-height: 40px;
  font-size: 14px;
  height: 40px;
  pointer-events: none;
}

.quantityInput input {
  color: transparent;
}

.maxQuantity {
  color: #cacaca;
}

.date {
  font-size: 14px;
  line-height: 19px;
  color: rgb(33, 41, 52);
  margin-bottom: 1em;
}

.date button {
  border: none;
  background: none;
  color: #cacaca;
  text-decoration: underline;
  cursor: pointer;
}

.date button:hover {
  color: #727272;
}
