.container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  flex: 2;
  min-width: 0;
}

.rowAction {
  display: flex;
  justify-content: end;
  align-items: center;
}

.selectedRow {
  background-color: #e6f7ff !important;
}
