body {
  background: #f3f5f7;
}

.container {
  display: flex;
  height: calc(100vh - 3em);
}

.left {
  min-width: 12em;
  padding-top: 1em;
  background: white;
}

.right {
  flex-grow: 1;
  padding: 1em;
  overflow-y: scroll;
}

.center {
  max-width: 900px;
  margin: 0 auto;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details > span {
  position: relative;
}

.details svg {
  position: relative;
  top: 1px;
}
