.container {
  display: flex;
  height: calc(100vh - 3em);
}

.left {
  width: 12em;
  padding-top: 1em;
}

.right {
  flex-grow: 1;
  padding: 1em;
  background: #f0f0f0;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details > span {
  position: relative;
}

.details svg {
  position: relative;
  top: 1px;
}
