.searchField {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.searchField > svg {
  position: absolute;
  right: 1em;
}

.searchField > button:hover {
  background: none;
}

.searchField div {
  width: 100%;
}
